*{
    margin:0;
    padding:0;
    background-color: rgb(27, 27, 35);
    font-family: 'Courier New', Courier, monospace;
}

.all{
    display: flex;
    justify-content: space-evenly;
}





.nav{
    width:600px;
    margin:50px 100px 0px 100px
}

.nav h1{
    /* display: flex; */
    /* justify-content: center; */
    color: rgb(252, 255, 160);
    font-size: 3rem;
}
.nav p{
    color: rgb(186, 188, 142);
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 700;
}
.nav a{
    color: aqua;
}
.nav a:hover{
    color: rgb(99, 255, 193);
}
.btn button{
    width: 120px;
    height: 50px;
    margin-top: 50px;
    color: transparent;
    border: 1px solid rgb(252, 255, 160);
    border-radius: 10px;
    color: rgb(186, 188, 142);
    font-size: 1.2rem;
    font-weight: 700;
}
.btn button:hover{
    border: 2px solid aqua;
    border-radius: 10px;
    font-size: 1.2rem;
    color:aqua;
}

.image{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.image img{
    width:500px;
    height:500px;

}